[Unit]
Description=Puppeteer Node.js Script
After=network.target

[Service]
ExecStart=/usr/bin/node /home/ubuntu/summaryapp/services/webscrapper/index.js
Restart=always
User=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
